.transactions {
    &__header {
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-500);
    }
    &__grid{
        padding: var(--spacing-m) 0px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-primary);
        &-icon{
            width: 60px;
            height: 60px;
            border-radius: var(--spacing-s);
            background: var(--surfaces-disabled);
            margin-right: var(--spacing-m);
        }
        &-group{
            flex: 1;
            &--name{
                color: var(--text-primary);
                font-weight: var(--font-weight-500);
                font-size: var(--font-size-16);
                margin-bottom: var(--spacing-xxs);
            }
            &--date{
                color: var(--text-disabled);
                font-size: var(--font-size-12);
                font-weight: var(--font-weight-500);
            }
        }
        &-amount{
            font-weight: var(--font-weight-600);
            color: var(--text-error);
            font-size: var(--font-size-16);
        }
        &:last-child{
            border-bottom: 0px;
        }
    }
    &__search{
        display: flex;
        align-items: center;
        &-input{
            width: 100%;
            input{
                font-family: var(--font-family);
            }
        }
        &-filter{
            margin-left: var(--spacing-n);
            svg{
                font-size: var(--font-size-22);
            }
        }
    }
    &__appliedFilter{
        display: flex;
        align-items: center;
        justify-content:space-between;
        &-list{
            span{
                font-size: var(--font-size-12);
                padding: var(--spacing-xxs) var(--spacing-xs);
                background-color: var(--surfaces-disabled);
                border-radius: var(--spacing-xxs);
                margin: 2px;
                display: inline-block;
            }
            svg{
                fill: var(--icon-primary);
            }
        }
    }
}