.dashboardWrapper {
	height: 100%;
	overflow: auto;
}
.dashboard {
	&__greeting {
		padding: 20px 16px;
		&-title {
			font-size: var(--font-size-22);
			font-weight: var(--font-weight-500);
		}
		&-subTitle {
			font-size: var(--font-size-16);
			font-weight: var(--font-weight-400);
		}
	}
	&__stats {
		margin: 0px var(--spacing-m);
		border-radius: 10px;
		//background-color: var(--surfaces-theme-bg);
		background-color: #0071fe;
		padding: 25px 16px;
		color: var(--surfaces-s-000);
		overflow: hidden;
		z-index: 1;
		&-title {
			font-size: var(--font-size-16);
			font-weight: var(--font-weight-300);
		}
		&-amount {
			font-size: 30px;
			font-weight: var(--font-weight-600);
			svg {
				margin-top: -5px;
			}
		}
		&-monthlyAmount {
			font-size: var(--font-size-14);
			font-weight: var(--font-weight-300);
			span {
				font-weight: var(--font-weight-600);
			}
		}
	}
	&__controls {
		//width: 80%;
		//margin: 0 auto;
		position: relative;
		top: -10px;
		padding: 30px 16px;
		margin: 0px var(--spacing-m);
		border-radius: 0px 0px 10px 10px;
		display: flex;
		background-color: #121826;
		color: var(--surfaces-s-000);

		&-grid {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 50%;
			&--icon {
				svg {
					font-size: var(--font-size-25);
				}
			}
			&--text {
				font-size: var(--font-size-16);
			}
		}
	}
	&__content {
		padding: 20px 16px;
	}
	// &__totalCard{
	//     background: var(--surfaces-s-000);
	//     padding: var(--spacing-s);
	//     border-radius: 4px;
	//     color: var(--text-primary);
	//     width: 50%;
	//     display: flex;
	//     align-items: center;
	//     &-icon{
	//         font-size: 50px;
	//         margin-right: 16px;
	//         margin-top: -10px;
	//     }
	//     &-text{
	//         font-size: 20px;
	//     }
	// }
}
