@import "../../App.scss";

.profileWrapper{
    @extend .pageWrapper;
    background-color: var(--surfaces-secondary);
}
.userWrapper{
    height: 100%;
    &__section{
        margin-bottom: var(--spacing-m);
        background-color: var(--surfaces-primary);
        border-radius: var(--spacing-xxs);
        &-header{
            position: relative;
            span{
                background-color: #fff;
                padding: 5px 5px 5px 0px;
                position: relative;
                z-index: 1;
                font-size: var(--font-size-18);
                font-weight: var(--font-wight-500);
            }
        }    
    }
    &__grid{
        align-items: center;
        padding: var(--spacing-s) 0px;
        font-size: var(--font-size-14);
        word-break: break-all;

        &-header{
            color: var(--text-disabled);
        }
        &-description{
            color: var(--text-primary);
            line-height: 30px;
            font-weight: var(--font-weight-500);
        }
    }
}
.updatePassword__modal{
    font-family: var(--font-family);
    .modal-body{
        padding: 0px;
    }
    .modal-title{
        font-size: var(--font-size-16);
    }
}