.appHeader{
    padding: 20px 16px;
    display: flex;
    box-shadow: 0 3px 6px rgba(32, 32, 35, 0.08);
    &__backArrow{
        margin-right: 15px;
    }
    &__title{
        font-size: var(--headingFontSize);
        font-weight: var(--font-weight-500);
    }
}